apiVersion: contour.heptio.com/v1beta1
kind: IngressRoute
metadata:
  name: ingress-NUMBER
  namespace: default
  labels:
    test: batch
spec:
  routes:
  - match: /
    services:
    - name: service-NUMBER
      port: 80
  virtualhost:
    fqdn: dns-NUMBER.gimbal.kukulinski.com